<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unit Calculator</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}" >
    <script src="{{url_for('static', filename='home.js')}}"></script>
</head>
<body id="center">
    <div id="sidebar">
        <div id="toggle" onclick="showMobileNav()">
            <span></span>
            <span></span>
            <span></span>
        </div>

        <div id="sidebar-buttons">
            <button id="Length-switch" value="length" class="unit-switch">Length</button>
            <button id="Mass-switch" value="lass" class="unit-switch">Mass</button>
            <button id="Energy-switch" value="energy" class="unit-switch">Energy</button>
            <button id="Pressure-switch" value="pressure" class="unit-switch">Pressure</button>
            <button id="Area-switch" value="area" class="unit-switch">Area</button>
            <button id="Speed-switch" value="speed" class="unit-switch">Speed</button>
            <button id="Time-switch" value="time" class="unit-switch">Time</button>
            <button id="Temperature-switch" value="temperature" class="unit-switch">Temperature</button>
            <button id="Volume-switch" value="volume" class="unit-switch">Volume</button>
        </div>
    </div>

    <div id="all-data">
        <!-- <div id="given-data">
            <input type="text" name="original-data-number" id="original-data-number" placeholder="type number here">
            <select name="original-conversion" id="original-data-conversion">
                <option value=""></option>
                <option value="millimeters">millimeter</option>
                <option value="centimeters">centimeter</option>
                <option value="inches">inch</option>
                <option value="feet">feet</option>
                <option value="yard">yard</option>
                <option value="meter">meter</option>
                <option value="kilometer">kilometer</option>
                <option value="miles">miles</option>
            </select>
        </div>

        <div id="new-data">

        </div> -->
    </div>
    
</body>
<script>
    var socket = io();

    socket.on('new_data', function(data) {
        console.log(data)
        let newDataHtml = document.querySelector("#new-data")

        for (let i in data){
            let divEntry = document.createElement("div")
            divEntry.id = i
            divEntry.className = "new-data-values"

            let h3 = document.createElement("h3")
            h3.innerText = i //changes the names of the backend data recieved to more presentable

            let input = document.createElement("input")
            input.value = data[i]

            divEntry.append(h3)
            divEntry.append(input)
            newDataHtml.append(divEntry)
        } //displayes the data in the div new-data
    }); //recieves all the new data from the backend to be displayed

    const buttons = document.querySelectorAll(".unit-switch")
    buttons.forEach(function(currentBtn){
    currentBtn.addEventListener('click', displayNewData)
    }) //adds a eventlistener to all the sidebar buttons
    
    function displayNewData(){
        showMobileNav()
        let prevAllData = document.querySelector("#all-data")
        if(prevAllData.textContent != ""){
            document.querySelector("#all-data").textContent = ""
        } //clears the html div that holds all of the unit converted data to make room for more data
        let selectedUnit = this.value //holds the currently selected unit of data for use when sending to backend
        const UNITS = {
            "length":[
                "",
                "millimeters",
                "centimeters",
                "inches",
                "feet",
                "yard",
                "meter",
                "kilometer",
                "miles"
            ],
            "speed":[
                "",
                "foot/minute",
                "miles/hour",
                "foot/second",
                "meters/second",
                "kilometers/hour",
            ],
            "volume":[
                "Gallon",
                "US_liquid_quart",
                "US_liquid_pint",
                "US_legal_cup",
                "US fluid ounce",
                "US_tablespoon",
                "US_teaspoon",
                "Cubic_meter",
                "Liter",
                "Milliliter",
                "Imperial_gallon",
                "Imperial_quart",
                "Imperial_pint",
                "Imperial_cup",
                "Imperial_fluid ounce",
                "Imperial tablespoon",
                "Imperial teaspoon",
                "Cubic_foot",
                "Cubic_inch",
            ]
        }
        let currentConversion = UNITS[selectedUnit] //returns a list of the current units that need to be converted by indexing the UNITS list using the clicked on buttons id using this.value
        // console.log(currentConversion)
        let newDataHtml = document.querySelector("#all-data")
        let givenDataDiv = document.createElement("div");
        givenDataDiv.id = "given-data"

        let originalInput = document.createElement("input");
        originalInput.id = "original-data-number"
        originalInput.placeholder = "type number here"

        let originalSelect = document.createElement("select");
        originalSelect.id = "original-data-conversion"
        originalSelect.addEventListener("change",function(){
            let newData = document.querySelector("#new-data")
            if(newData.textContent != ""){
                document.querySelector("#new-data").textContent = ""
            } //clears the html div that holds all of the unit converted data to make room for more data
            let placeholder = originalSelect.value.replaceAll(" ","_") //needed to send the correct dict key to the backend
            socket.emit('original', {unit:selectedUnit,originalNumber:originalInput.value,originalConversion:placeholder}); //sends data to backend
        })

        for(let i = 0;i<currentConversion.length;i++){
            let originalOption = document.createElement("option");
            originalOption.value = currentConversion[i].replaceAll("_"," ") //needed to remove all _ in str for proper viewing
            originalOption.innerText = currentConversion[i].replaceAll("_"," ") //needed to remove all _ in str for proper viewing
            originalSelect.append(originalOption)
        } //creates a html option tag that holds the units currently selected to be added to the html tag select


        givenDataDiv.append(originalInput)
        givenDataDiv.append(originalSelect)

        let newDataDiv = document.createElement("div");
        newDataDiv.id = "new-data"

        newDataHtml.append(givenDataDiv)
        newDataHtml.append(newDataDiv)
    } //when switching to length units creates input and select tags to type given data needed to convert
</script>
</html>